{% include "liga2/base.html" %}

<div class="container">
  <h2>{{ tournament.name }}</h2>

  <div>
    <h3>Standings</h3>

    <table class="table">
      <tr>
        <th> Name </th>
        <th> Played </th>
        <th> Wins </th>
        <th> Drawn </th>
        <th> Losses </th>
        <th> Points </th>
      </tr>
      {% for player in players %}
      <tr>
        <td> {{ player.player.name }} </td>
        <td> {{ player.matches }} </td>
        <td> {{ player.wins }} </td>
        <td> {{ player.draws }} </td>
        <td> {{ player.losses }} </td>
        <td> {{ player.points }} </td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div>
    <h3>Upcoming Matches ({{ upcoming_matches|length }} left!)</h3>

    <ul>
      {% for match in upcoming_matches %}
      <li><a href="{% url 'match_edit' match.id %}">{{ match }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <h3>Past Matches</h3>

    <ul>
      {% for match in completed_matches %}
      <li><a href="{% url 'match_edit' match.id %}">{{ match }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div>

  </div>

</div>
