{% extends "liga2/base.html" %}

{% block title %}Liga2 - {{ tournament.name }}{% endblock %}

{% block content %}
<div class="container">

  <h1>{{ tournament.name }}</h1>

  <div>
    <h2>Standings</h2>

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Played</th>
        <th>Wins</th>
        {% if tournament.second_place_points > 0 %}
        <th>(2nds) </th>
        {% endif %}
        <th>Drawn</th>
        <th>Losses</th>
        <th>Points</th>
      </tr>
      {% for player in players %}
      <tr>
        <td>{{ player.player.name }}</td>
        <td>{{ player.matches }}</td>
        <td>{{ player.wins }}</td>
        {% if tournament.second_place_points > 0 %}
        <td>{{ player.seconds }}</td>
        {% endif %}
        <td>{{ player.draws }}</td>
        <td>{{ player.losses }}</td>
        <td>{{ player.points }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% if upcoming_matches|length != 0 %}
  <div>
    <h2>Upcoming Matches ({{ upcoming_matches|length }} left!)</h2>

    <ul>
      {% for match in upcoming_matches|slice:"10" %}
      <li><a href="{% url 'match_edit' match.id %}">{{ match }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div>
    <h2>Past Matches</h2>

    <ul>
      {% for match in completed_matches %}
      <li><a href="{% url 'match_edit' match.id %}">{{ match }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div>

  </div>

</div>
{% endblock %}
